@tailwind base;
@tailwind components;
@tailwind utilities;

.img-animation {
    animation: image 5s ease 1s forwards;
}

@keyframes image {
    0% {
        transform: translateX(0) rotate(0);
    }
    33% {
        transform: translateX(-100px) rotate(360deg);
    }
    66% {
        transform: translateX(100px) rotate(-360deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}

.left-text-animation {
    animation: left-text 3s ease 1s forwards;
}

@keyframes left-text {
    0% {
        transform: translateX(-1000px);
    }
    80% {
        transform: translateX(1.2);
    }
}

 /*|| ABOUT PAGE*/
/*
h2, h3 {
    font-style: oblique;
}

h2 {
    font-size: 5rem;
    text-align: center;
}

.main__section-directed {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
} */